/GigDigger/dist/
/GigDigger/build/
GigDigger/nbproject/private/private.properties
GigDigger/nbproject/project.properties
GigDigger/nbproject/private/private.properties
GigDigger/nbproject/project.properties
